@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    min-height: 100vh;
    font-family: Inter;
    font-weight: 500;
}

.container{
    width: 100%;
    min-height: 100vh;
    /* background-image: linear-gradient(#fee3bc, #f39876); */
    display: flex;
    align-items: center;
}

header{
    padding: 12px 0px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 20px;
    &:hover{
        cursor: pointer;
    }

    & #find_city{
        width: 100%;
        height: 40px;
        border-radius: 20px;
        padding-left: 12px;
        font-weight: 200;
        border: 0.5px solid black;
        outline: none;
        &:focus{
            transition: border ease-in-out 2s;
            border: 2px solid rgba(0, 0, 0, 0.508);
        } 
        &:focus-visible{
            outline: none;
        }
    }

}

.error_location{
    color: rgba(255, 0, 0, 0.76);
    display: none;
}
.container_phone{
    min-width: 218px;
    min-height: 420px;
    width: 420px;
    height: 800px;
    margin: 0 auto;
    border: 6px solid #000000a0;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.29);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 14px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container_main{
    min-height: 624px;
    position: relative;
}

.container_phone-title{
    padding: 8px 48px 8px 0;
}
.container_phone-city{
    font-size: 2.5rem;
    line-height: auto;
    margin-bottom: 6px;
}
.container_phone-time{
    color: #9A938C;
    line-height: auto;
}
.container_phone-forecast{
    padding: 4px 40px;
    position: relative;
    margin: 28px 0 0 0;
    gap: 12px;

}

.weather_icon{
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 30%;
}

/* .container_phone-symbol{
    
} */

.container_phone-condition{
    color: #303345;
    display: flex;
    justify-content: end;

    & h2 span{
        &:first-child{
            display: flex;
            font-size: 4rem;
            
        }

        &:last-child{
            font-weight: 300;
            font-size: 1.5rem;
        }

        & sup{
            font-size: 1rem;
            font-weight: 300;
        }

    }
}
.container_phone-detail{
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container_phone-detail li{
    padding: 20px 22px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.36);
    box-shadow: 4px 5px 6px -4px rgba(0, 0, 0, 0.296);

    & span:first-child{
        background-color: #fff;
        padding: 6px;
        border-radius: 10px;
        width: 28px;
        height: 28px;
        display: inline-flex;
        justify-content: center;
        box-shadow: 4px 5px 6px -4px rgba(0, 0, 0, 0.56);
    }

    & span:nth-child(2){
        flex: 1 0 0;
    }

    & span:last-child{
        flex: 0 1 inherit;
    }
}

.container_phone-icon{
    display: flex;
    align-items: center;
    gap: 16px;
}

footer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}

footer ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 24px;
}

.container_phone-day{
    color: #9A938C;

    &:hover{
        cursor: pointer;
    }
}


.hightlight_date{
    color: #000;
}

/* Loading screen */
/* HTML: <div class="loader"></div> */
.loader {
    display: inline-block;
  width: 160px;
  height: 80px;
  border-radius: 100px 100px 0 0;
  position: absolute;
  overflow: hidden;
  top: 50%;
  margin: 0 25%;
  transform: translateY(-50%);
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0 0 -100%;
  background: 
    radial-gradient(farthest-side,#ffd738 80%,#0000) left 70% top    20%/15px 15px,
    radial-gradient(farthest-side,#020308 92%,#0000) left 65% bottom 19%/12px 12px,
    radial-gradient(farthest-side,#ecfefe 92%,#0000) left 70% bottom 20%/15px 15px,
    linear-gradient(#9eddfe 50%,#020308 0);
  background-repeat: no-repeat;
  animation: l5 2s infinite;
}
@keyframes l5 {
  0%,20%   {transform: rotate(0)}
  40%,60%  {transform: rotate(.5turn)}
  80%,100% {transform: rotate(1turn)}
}
